@tailwind base;
@tailwind components;
@tailwind utilities;

div a{
     color: #000;
     background-color: #EEE;
     padding: 5px 10px;
     cursor: pointer;
}
.rtl{
     direction: rtl;
}
.footer{
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 18px;
     color: blue;
     cursor: pointer;
}